html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-width: 320px;
}
.content {
    margin: 0 10px 0 10px;
}
.page-header{
    margin-top: 4px;
    margin-bottom: 10px; 
}
.page-header h1{
    margin: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.jumbotron{
    background-color: white;
}
.on-button{
    margin: 10px 15px 10px 15px;
}
.on-button a{
    width:100%;
}
.footer .container p{
    margin-top: 20px;
}