@using Newtonsoft.Json.Linq;



<h1>And the winners are....</h1>
<p>
    Total votes received: <b>@ViewData["totalVotes"]</b>
</p>
<a class="btn btn-danger" asp-action="Results" asp-route-id="@ViewData["questionId"]" role="button">Let's begin!</a>
