@model AliasViewModel

<section>
    <form asp-controller="Home" asp-action="Index" method="post" role="form">
        <h4>Enter your alias then clik/tap Next!</h4>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Alias" />
            <span asp-validation-for="Alias" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success pull-right">Next</button>
        </div>
    </form>
</section>
