<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span>Welcome to the Movie Contest!</span><br /><span>What do you want to do?</span> </h3>
    </div>
    <div class="panel-body">
        <p class="bg-success on-button">
            <a class="btn btn-success text-center" asp-action="Alias">Vote!</a>
        </p>
        <p class="bg-warning on-button">
            <a class="btn btn-warning text-center" asp-action="Index" asp-controller="Admin">Manage the contest</a>
        </p>
    </div>
</div>