@model VotingViewModel

@{
    List<SelectListItem> selectListItems = new List<SelectListItem>();
    foreach (var option in Model.Options)
    {
        selectListItems.Add(new SelectListItem() { Text = option.Text, Value = option.Id });
    }
}
@using (Html.BeginForm())
{
    <p>
        Your Microsoft Alias:<br />
        @Html.TextBox("voter")
    </p>
    foreach (var question in Model.Questions)
    {
        <p>
            @question.Text<br />
            @Html.DropDownList(question.Id, selectListItems)
        </p>
    }
    <button type="submit">Vote!</button>
}