<div class="jumbotron">
    <h1>Thank you for voting! We will announce the results shortly.</h1>
    <p>
        <img src="~/images/fullsizelogo.jpg" class="img-responsive text-center center-block" style="width: 100%" />
    </p>
</div>