@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Administration</h2>
        <ul>
            <li><a asp-action="Index" asp-controller="Questions">Manage categories</a></li>
            <li><a asp-action="Index" asp-controller="Options">Manage movies</a></li>
            <li><a asp-action="Index" asp-controller="Reporting">View reports</a></li>
            <li><a asp-action="Reset">Reset results</a></li>
        </ul>
    </div>
</div>
