@{
    ViewData["Title"] = "Home Page";
}

<div class="panel">
    <div class="panel-heading">
        What would you like to manage?
    </div>
    <div class="panel-body">
        <ul>
            <li><a asp-action="Index" asp-controller="Questions">Categories</a></li>
            <li><a asp-action="Index" asp-controller="Options">Movies</a></li>
            <li><a asp-action="Index" asp-controller="Reporting">Results</a></li>
            <li><a asp-action="Reset">Reset contest</a></li>
        </ul>
    </div>
</div>
